---
layout: layouts/base
layoutType: home
---

<section class="intro">
    <div class="intro__inner">
        <div class="intro__details">
            <p class="intro__welcome">Hey There,</p>
            <h1 class="intro__name">I'm Adam Sedwick</h1>
            <ul class="intro__blocks">
                <li class="intro__block">Front-End Architect</li>
                <li class="intro__block">Design Systems Lead</li>
                <li class="intro__block">Accessibility Advocate</li>
            </ul>
        </div>
        {% image "./src/images/profile-image.jpg", "Adam Sedwick" %}
    </div>
</section>

<section class="blog-roll">
    <div class="blog-roll__inner">
        <h2 class="blog-roll__title">Latest Posts</h2>
        <ul class="post-list post-list--home">
            {% assign new_posts =  collections.posts | reverse %}
            {% for post in new_posts limit:6 %}
                <li class="post-preview">
                    <a class="post-preview__link" href="{{ post.url }}">
                        <h2 class="post-preview__title">{{ post.data.title }}</h2>
                    </a>
                        {% if post.data.subtitle %}
                            <p class="post-preview__subtitle">{{ post.data.subtitle }}</p>
                        {% endif %}
                        <p class="post-preview__meta">Posted on {{ post.data.date | postDate }}</p>
                </li> 
            {% endfor %}
        </ul>
    </div>
</section>

<section class="work">
    <div class="work__inner">
        <div class="work__heading">
            <h2 class="work__title">Work</h2>
            <a href="/work" class="work__view-link">View All</a>
        </div>
        <ul class="work-list work-list--home">
            {% assign new_posts =  collections.work | reverse %}
            {% for post in new_posts limit:4 %}
                <li class="work-preview">
                    {% if post.data.exampleLink %}
                        <a class="work-preview__link" href="{{ post.data.exampleLink }}" target="_blank">
                            <div class="work-preview__thumbnail">
                                {% if post.data.image %}
                                    {% image post.data.image, "" %}
                                {% endif %}
                            </div>
                            <p class="work-preview__title">{{ post.data.title }}</p>
                        </a>
                    {% else %}
                        <div class="work-preview__inner">
                            <div class="work-preview__thumbnail">
                                {% if post.data.image %}
                                    {% image post.data.image, "" %}
                                {% endif %}
                            </div>
                            <p class="work-preview__title">{{ post.data.title }}</p>
                        </div>
                    {% endif %}
                </li> 
            {% endfor %}
        </ul>
    </div>
</section>