---
import Layout from '@layouts/Base.astro';
import { getCollection, getEntry } from 'astro:content';
import { Picture } from 'astro:assets';
import HomepagePostPreview from '@components/post/HomepagePostPreview.astro';
import Callout from '@components/Callout.astro';

const posts = (await getCollection('writing'))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 6);

const featuredWork = await getEntry('work', 'nebula-design-system');
const featuredProject = await getEntry('projects', 'accessibility-playbook');

import heroImage from '@images/Funko_Headshot_Square.png';
---

<Layout title="Homepage">
    <main class="stack">
        <section class="home-intro">
            <h1 class="fs-xxxl">
                Hey, I'm Adam Sedwick
                <span>Design & Product Operations Lead</span>
            </h1>
        </section>
        <section class="about-me | theme-about">
            <Picture
                class="home-about__image"
                src={heroImage}
                formats={['avif', 'webp']}
                alt="Photograph of Adam Sedwick"
            />

            <div class="stack" data-size="small">
                <h2 class="about-header">
                    A little <span class="about-modifier"></span>
                    <a href="/about">about me</a>
                </h2>
                <p class="bio hidden" data-length="less">
                    <strong>Adam Sedwick</strong> is a design and product
                    operations lead at <a
                        href="https://www.discoveryeducation.com/"
                        >Discovery Education</a
                    >.
                </p>
                <p class="bio" data-length="default">
                    <strong>Adam Sedwick</strong> is a design and product
                    operations lead at <a
                        href="https://www.discoveryeducation.com/"
                        >Discovery Education</a
                    > with over a decade of experience designing, building, and
                    managing digital products and design systems.
                </p>
                <p class="bio hidden" data-length="more">
                    <strong>Adam Sedwick</strong> is a design and product
                    operations lead at <a
                        href="https://www.discoveryeducation.com/"
                        >Discovery Education</a
                    > with over a decade of experience designing, building, and
                    managing digital products and design systems. He is also an
                    active member of the <a
                        href="https://www.w3.org/community/design-tokens/"
                        >Design Token Community Group</a
                    > working to define a standardized spec for design tokens.
                </p>
                <div class="about-button-group">
                    <button data-about-length="less">Less</button>
                    <button data-about-length="default">Default</button>
                    <button data-about-length="more">More</button>
                </div>
            </div>
        </section>
        <section class="latest-posts | stack | theme-writing" data-size="small">
            <h2 class="section-title">Check out some recent writing</h2>
            <ul class="home-post-list | stack" data-size="xs">
                {
                    posts.map((post) => (
                        <HomepagePostPreview
                            link={post.slug}
                            title={post.data.title}
                            pubDate={post.data.pubDate}
                            isLinkPost={post.data.tags.includes('link-post')}
                            description={post.body}
                            tags={post.data.tags}
                        />
                    ))
                }
            </ul>
        </section>
        <Callout
            link={`/work/${featuredWork.slug}`}
            image={featuredWork.data.heroImage}
            title={featuredWork.data.title}
            description="The Nebula Design System was created for Discovery Education's digital product experiences. It consists of visual language guidelines, vue components, and Figma assets. The system provides a premium solution for designers and developers with a focus on usability and accessibility for educators and students."
            theme="work"
            type="image-left"
        />
        <Callout
            link={`/projects/${featuredProject.slug}`}
            image={featuredProject.data.heroImage}
            title={featuredProject.data.title}
            description="In an effort to not only help the teams I work with, but the larger digital product community I created what I'm calling the Accessibility Playbook, a manual for teams and individuals to reference in order to ensure the products and experiences they create can be used by the largest number of people."
            theme="projects"
            type="image-right"
        />
    </main>
</Layout>

<style>
    .home-intro {
        h1 {
            color: var(--text-primary);

            span {
                color: var(--text-secondary);
                display: block;
                font-size: 0.6em;
            }
        }
    }

    .about-me {
        align-items: center;
        display: flex;
        gap: var(--space-4);
        picture {
            border-radius: var(--border-radius-m);
            width: 100%;
            max-width: 350px;
            overflow: hidden;
        }

        .bio {
            width: 100%;
            max-width: 800px;
        }
    }

    .home-post-list {
        list-style: none;
        margin-block-end: 0;
        padding: 0;
    }
</style>

<script>
    const aboutButton = document.querySelectorAll(
        '.about-button-group > button'
    );
    const aboutModifier: HTMLElement = document.querySelector(
        '.about-modifier'
    ) as HTMLElement;

    const handleAboutClick = (e) => {
        // Change text in about header
        const modifierAttr = e.target.dataset.aboutLength;
        if (modifierAttr === 'default') {
            aboutModifier.textContent = '';
        } else {
            aboutModifier.textContent = '[' + modifierAttr + ']';
        }

        // Change which bio is shown
        const bios = document.querySelectorAll('.bio');
        bios.forEach(function (e) {
            e.classList.add('hidden');

            if ((e as HTMLElement).dataset.length === modifierAttr) {
                e.classList.remove('hidden');
            }
        });
    };

    aboutButton.forEach(function (e) {
        e.addEventListener('click', handleAboutClick);
    });
</script>
