---
import { Picture } from 'astro:assets';

interface Props {
    link: string;
    image: ImageMetadata;
    title: string;
    description: string;
    theme: 'writing' | 'work' | 'projects' | 'about';
    type: 'image-left' | 'image-right';
}

const { link, image, title, description, theme, type } = Astro.props;
---

<section class={`callout block-highlight | theme-${theme} ${type}`}>
    <a href={`/work/${link}/`} class="callout-link">
        <Picture
            class="callout-image"
            src={image}
            formats={['avif', 'webp']}
            alt={title}
        />
        <div class="callout-content">
            <h2 class="callout-title">
                {title}
            </h2>
            <p class="callout-description">
                {description}
            </p>
        </div>
    </a>
</section>

<style>
    .callout {
        border-radius: var(--border-radius-l);
        overflow: hidden;
    }

    .callout-link {
        align-items: center;
        color: inherit;
        display: grid;
        gap: var(--space-2);
        padding: var(--space-2);

        @media (min-width: 900px) {
            grid-template-columns: min(100%, 400px) 1fr;

            .image-right & {
                grid-template-columns: 1fr min(100%, 400px);
            }
        }
    }

    picture {
        border-radius: var(--border-radius-m);
        overflow: hidden;

        .image-right & {
            order: 1;
        }
    }
</style>
