---
import Layout from '@layouts/Base.astro';
import { getCollection } from 'astro:content';
import { Picture } from 'astro:assets';
import FormattedDate from '@components/FormattedDate.astro';

const projects = (await getCollection('projects')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const { title = 'Projects', description = "Projects I've created" } =
    Astro.props;
---

<Layout title={title} description={description}>
    <main class="stack | theme-projects">
        <div class="page-intro | stack" data-size="xs">
            <h1 class="title">{title}</h1>
            <!-- TODO: Write copy for project section -->
            <!-- <p class="fs-md text-secondary text-cap-width">
            I've been lucky to work on a diverse range of projects,
            including international and multi-lingual marketing campaigns,
            e-commerce experiences, education-focused products, and design
            systems.
        </p> -->
        </div>
        <div class="projects | flow-grid">
            {
                projects.map((project) => (
                    <article class="project | stack" data-size="xxs">
                        <a href={`/projects/${project.slug}/`} class="link">
                            <Picture
                                class="image"
                                src={project.data.heroImage}
                                formats={['avif', 'webp']}
                                alt={project.data.title}
                            />
                        </a>
                        <a href={`/projects/${project.slug}/`} class="link">
                            <p class="title | fs-md">{project.data.title}</p>
                        </a>
                        <div class="metadata">
                            <p class="date | fs-sm">
                                <FormattedDate date={project.data.pubDate} />
                            </p>
                            <p class="status">{project.data.status}</p>
                        </div>
                    </article>
                ))
            }
        </div>
    </main>
</Layout>

<style>
    .link {
        color: var(--link-color);
        display: block;
        text-decoration: underline;
        text-decoration-color: transparent;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: 2px;
        text-underline-offset: 0ex;
        transition: all 0.25s ease-in-out;

        &:hover,
        &:focus-visible {
            text-decoration: underline;
            text-decoration-color: var(--link-color);
            text-decoration-skip-ink: auto;
            text-decoration-thickness: 2px;
            text-underline-offset: 0.2ex;
        }
    }

    .title {
        align-items: first baseline;
        display: flex;
        gap: var(--space-half);
    }

    .date {
        color: var(--text-secondary);
    }

    .image {
        aspect-ratio: 2/1;
        border-radius: var(--border-radius-s);
        object-fit: cover;
        object-position: top center;
    }
</style>
