---
import Layout from './Base.astro';
import { Picture } from 'astro:assets';
import FormattedDate from '@components/FormattedDate.astro';
import FormattedTag from '@components/FormattedTag.astro';

const { title, description, pubDate, updatedDate, heroImage, tags } =
    Astro.props;
---

<Layout title={title} description={description}>
    <main class="h-entry | theme-writing">
        <article class="stack">
            {
                heroImage && (
                    <div class="hero-image">
                        <Picture
                            src={heroImage}
                            formats={['avif', 'webp']}
                            alt={title}
                        />
                    </div>
                )
            }
            <div class="title | stack" data-size="xxs">
                <h1 class="p-name | fs-xl">{title}</h1>
                <p class="p-summary hidden">{description}</p>
                <div class="date">
                    <FormattedDate class="dt-published" date={pubDate} />
                    {
                        updatedDate && (
                            <div class="text-italic">
                                Last updated on{' '}
                                <FormattedDate
                                    class="dt-updated"
                                    date={updatedDate}
                                />
                            </div>
                        )
                    }
                </div>
                {
                    tags && (
                        <ul class="tag-list">
                            {tags.map((tag: string) => (
                                <li class="tag | fs-sm">
                                    <a
                                        href={`/writing/tags/${tag}`}
                                        rel="category tag"
                                        class="tag p-category"
                                    >
                                        #<FormattedTag tag={tag} />
                                    </a>
                                </li>
                            ))}
                        </ul>
                    )
                }
            </div>
            <div class="prose | text-cap-width | e-content">
                <slot />
            </div>
        </article>
        <a href={Astro.url} class="u-url hidden"></a>
    </main>
</Layout>

<style>
    .tag-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0 var(--space-half);
    }

    /* TODO: Turn Tag li into a component */
    .tag {
        line-height: 1;

        a {
            color: var(--text-secondary);
            display: block;
            text-decoration: underline;
            text-decoration-color: transparent;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: 2px;
            text-underline-offset: 0.2ex;
            transition: 0.25s ease-in-out;
            white-space: nowrap;
            width: min-content;

            &:hover,
            &:focus-visible {
                text-decoration-color: var(--link-color);
            }
        }
    }
</style>
