---
import Layout from './Base.astro';
import { Picture } from 'astro:assets';
import FormattedDate from '@components/FormattedDate.astro';

const { title, description, image } = Astro.props;
---

<Layout title={title} description={description}>
    <main class="theme-work">
        <article class="stack">
            <div class="hero-image">
                <Picture src={image} formats={['avif', 'webp']} alt={title} />
            </div>
            <div class="title | stack" data-size="xxs">
                <h1 class="p-name | fs-xl">{title}</h1>
            </div>
            <div class="prose | text-cap-width">
                <slot />
            </div>
        </article>
    </main>
</Layout>
