---
import Layout from './Base.astro';
import { Picture } from 'astro:assets';
import FormattedDate from '@components/FormattedDate.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
    <main>
        <article>
            <div class="hero-image">
                {
                    frontmatter.heroImage && (
                        <Picture
                            src={frontmatter.heroImage}
                            formats={['avif', 'webp']}
                            alt={frontmatter.title}
                        />
                    )
                }
            </div>
            <div class="title">
                <div class="date">
                    <FormattedDate date={new Date(frontmatter.pubDate)} />
                    {
                        frontmatter.updatedDate && (
                            <div class="text-italic">
                                Last updated on{' '}
                                <FormattedDate
                                    date={new Date(frontmatter.updatedDate)}
                                />
                            </div>
                        )
                    }
                </div>
                <h1>{frontmatter.title}</h1>
                <hr />
            </div>
            <div class="prose">
                <slot />
            </div>
        </article>
    </main>
</Layout>
