---
import Layout from '@layouts/Base.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import PostPreview from '@components/post/PostPreview.astro';

export async function getStaticPaths() {
    const posts = (await getCollection('writing')).sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    );

    const postYears = new Map();
    posts.forEach((post) => {
        const year = post.data.pubDate.getFullYear();

        if (!postYears.get(year)) {
            postYears.set(year, []);
        }

        postYears.get(year).push(post);
    });

    return [...postYears.entries()].map(([year, posts]) => ({
        params: { year },
        props: { posts },
    }));
}

const { posts } = Astro.props;
const { year } = Astro.params;
---

<Layout title={`Posts from ${year}`} description={`Posts from ${year}`}>
    <main class="stack | theme-writing">
        <h1>Writing from {year}</h1>
        <ul class="post-list">
            {posts.map(
              (post: CollectionEntry<'writing'>) => (
                    <PostPreview
                        description={post.body}
                        heroImage={post.data.heroImage}
                        isLinkPost={post.data.tags.includes('link-post')}
                        link={post.slug}
                        pubDate={post.data.pubDate}
                        title={post.data.title}
                        tags={post.data.tags}
                    />
                )
              )}
        </ul>
    </main>
</Layout>

