---
import Layout from '@layouts/Base.astro';
import { getCollection } from 'astro:content';
import SectionHeader from '@components/SectionHeader.astro';
import BlogPostCard from '@components/BlogPostCard.astro';

export async function getStaticPaths() {
    const posts = (await getCollection('writing')).sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    );

    const postYears = new Map();
    posts.forEach((post) => {
        const year = post.data.pubDate.getFullYear();

        if (!postYears.get(year)) {
            postYears.set(year, []);
        }

        postYears.get(year).push(post);
    });

    return [...postYears.entries()].map(([year, posts]) => ({
        params: { year },
        props: { posts },
    }));
}

const { posts } = Astro.props;
const { year } = Astro.params;
---

<Layout title={`Posts from ${year}`} description={`Posts from ${year}`}>
    <main>
        <section class="blog-posts content-container">
            <div class="blog-posts__inner content-container__inner">
                <SectionHeader
                    title={`Posts from ${year}`}
                    subtitle=""
                    sectionaccentcolor="accent-1"
                />
                <ul class="post-list">
                    {
                        posts.map((post: any) => (
                            <BlogPostCard
                                link={post.slug}
                                pubDate={post.data.pubDate}
                                tags={post.data.tags}
                                title={post.data.title}
                                description={post.body}
                                isLinkPost={post.data.tags.includes(
                                    'link-post'
                                )}
                            />
                        ))
                    }
                </ul>
            </div>
        </section>
    </main>
</Layout>

<style>
    .post-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
        gap: var(--space-2);
        margin: 0;
        padding: 0;
        width: 100%;
    }
</style>
