---
import Layout from '@layouts/Base.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import SectionHeader from '@components/SectionHeader.astro';
import BlogPostCard from '@components/BlogPostCard.astro';

const posts = (await getCollection('writing')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const postYears = new Map();
const years: number[] = [];

posts.forEach((post) => {
    const year = post.data.pubDate.getFullYear();

    if (!postYears.get(year)) {
        years.push(year);
        postYears.set(year, []);
    }

    postYears.get(year).push(post);
});

const {
    title = 'Writing',
    description = 'Personal Blog for Adam Sedwick, design systems lead and accessibility advocate',
} = Astro.props;
---

<Layout title={title} description={description}>
    <main>
        <section class="blog-posts content-container">
            <div class="blog-posts__inner content-container__inner">
                <SectionHeader
                    title="Latest Insights"
                    subtitle="With over a decade working on the design and development of digital products I've learned a lot. I tend to write about things I find interesting or problems I've encountered."
                    sectionaccentcolor="accent-1"
                />
                {
                    years.map((year) => {
                        const yearPosts = postYears.get(year);
                        return (
                            <section class="year">
                                <h2 class="year__title">{year.toString()}</h2>
                                <ul class="post-list">
                                    {yearPosts.map(
                                        (post: CollectionEntry<'writing'>) => (
                                            <BlogPostCard
                                                link={post.slug}
                                                pubDate={post.data.pubDate}
                                                tags={post.data.tags}
                                                title={post.data.title}
                                                description={post.body}
                                                isLinkPost={post.data.tags.includes(
                                                    'link-post'
                                                )}
                                            />
                                        )
                                    )}
                                </ul>
                            </section>
                        );
                    })
                }
            </div>
        </section>
    </main>
</Layout>

<style>
    .blog-posts__inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
        justify-content: center;
    }

    .year {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
        width: 100%;
    }

    .year__title {
        font-size: 32px;
    }

    .post-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
        gap: var(--space-2);
        margin: 0;
        padding: 0;
        width: 100%;
    }
</style>
